/* START Materialize Sticky Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
/* END Materialize Sticky Footer */

/* START container width override */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    width: 90%;
  }
}
/* END container width override */

/* START navbar CSS */
.nav-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}
/* END navbar CSS */
